// * {
//     outline: 1px solid salmon;
// }

body {
    color: $body-color;
}

.sec {
    @include section;
}

.inner {
    max-width: $default-size;
    margin: 0 auto;
    padding: 0 15px;
}

.h_inner {
    max-width: $header-size;
    margin: 0 auto;
    padding: 0 15px;
}

.d_flex {
    display: flex;
    gap: 30px;
}

.btn {
    display: inline-block;
    background: $primary-color;
    padding: 12px 26px;
    border-radius: 35px;

    &.g {
        background: $secondary-color;
    }

    &.p {
        background: $tertiary-color;
    }
}