@mixin section() {
    padding: 150px 0;
}

@mixin position-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin shadow() {
    text-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.2);
}

@mixin jua() {
    font-family: 'Jua', sans-serif;
}

@mixin pre() {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}