$body-color: #000;
$primary-color: #82CDDB;
$secondary-color : #53B5B0;
$tertiary-color : #B4B4DC;
$light-color: #B4E1E9;
$menu-color: #61C1D3;

$ft-color: #383838;
$ftbtn-color: #464646;
$ftadr-color: #818185;

$default-size: 1440px;
$header-size: 1840px;